.displayCard{
	margin-top: -50px;
	width: 500px;
	height: 600px;
	margin: 20px;


}

.titleCard{
	display: flex;
	justify-content: center;
	width: 100%;
	background: #FFA726;
	color: white;
	height: 50px;
	line-height: 50px;
	font-family: 'Ubuntu';
	font-size: 20px;
}

