@import "bourbon";

$shift: 80px;
$size: 500px;
$duration: 1.5s;

@mixin material($width, $height, $color) {
	width: $width;
	height: $height;
	border-radius: 2px;

	background: $color;
		
	// Thickness - the borders actually extend too far, but with such a small thickness it's not really visible.
	border-bottom: 4px solid darken($color, 20%);
	border-right: 4px solid darken($color, 20%);

}


@mixin sheet($color, $index) {
	@include transform(translate(-$shift*$index, -$shift*$index));
	//@include animation(lift $duration ease-in-out alternate infinite);
	@include material($size, $size, #69D2E7);

	overflow: hidden;
	background: $color;
	position: absolute;
	z-index: $index;


}



body {
	background-color: #FFFFFF;
}

.graph {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
}

.container{
	width: 100%;
}

.isometric {
	opacity: 0.5;
	@include transform(rotateX(0deg) rotateY(0deg) rotateZ(0deg) // x = 60 z= 45
		translate(-38%, 38%) scale3d(1, 1, 1)); // translate is just to centre it on the page
}

.sheetOne{
	@include sheet(#A7DBD8, 1);
	
}

.sheetTwo{
	@include sheet(#FF0000, 2);
}

.floor {
	opacity: 0.5;
	@include material($size, $size, #00CAFE);
	
	
	position: absolute;
	left: 50%;
	top: 10%;
}

@include keyframes(lift) {
	0%, from {
		@include transform(translate(0, 0));
	}80%, to {
		@include transform(translate(-$shift, -$shift));
	}
}